@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


html{
    scroll-behavior: smooth;
    scroll-padding:150px;
}

body{
    position: relative;
    z-index: 100000;
    background-color: #eae8e8;
}


/* HEADER */

.header{
    height: 5rem;
    background-color: #2d3742;
    display: flex;
    justify-content: space-between;
    padding: 0 1.875rem;
    align-items: center;
    color: white;
    margin: 0 auto;
    position:sticky;
    z-index: 1000;
    top: 0;
    /* border-bottom: 2px solid black; */
    box-shadow: 0  5px 5px gray;
}


.header__label{
    display: none;
}

.header__input{
    display: none;
}

.header__logo{
    font-size: 2.6rem;
    font-weight: 500;
    cursor:default;
}

.firt__letter{
    color: #458ec9;
}

.second__letter{
    color: yellow;
}

/* CONTAINER LINKS (HEADER) */
.header__content__links{
    display: flex;
    gap: 35px;
    --clippy: polygon(48% 45%, 48% 45%, 48% 47%, 47% 46%);
}


/* LINKS (HEADER) */
.header__content__links > a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

/* ANIMATION HEADER */
.header__content__links > a::after{
    content: "";
    background-color: yellow;
    display: block;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.4s;
}

.header__content__links > a:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}






/* MAIN */
main{
    position: relative;
    z-index: 900;
    min-height: 100vh;
    background-color: #eae8e8;
    max-width: 2000px;
    margin: 0 auto;
}




/* SECTION */
.section{
    display: flex;
    max-width: 2000px;
    margin: 0 auto;
}


/* MASTER CONTAINER (SOCIAL LINKS) */
.section__main__content__social{
    min-height: 100vh;
    position: relative;
    z-index: 300;
    width: 7%;
}

/* SUB CONTAINER (SOCIAL LINKS) */
.section__content__links__social{
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    position: fixed;
    z-index: 90;
    bottom: 100px;
    left:auto;
    right: auto;
    margin-left: 45px;
}

/* COLOR ICONS SOCIAL */
.section__content__links__social > a > svg{
    fill: #3b3939;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.section__content__links__social > a > .github:hover{
    fill: black;
}

.section__content__links__social > a > .linkedin:hover{
    fill: royalblue;
}

.section__content__links__social > a > .twitter:hover{
    fill:rgb(17, 204, 204);
}


/* TRANSITION */
.section__content__links__social > a > svg:hover{
    transform: translateY(-8px);
}

.section__content__links__social::after{
    position: absolute;
    display: block;
    content: "";
    background-color: gray;
    width: 3px;
    height: 100px;
    margin: 0 auto;
    margin-top: 180px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

/* MASTER CONTAINER (EMAIL) */

.section__main__content__email{
    position: relative;
    z-index: 300;
    width: 7%;
}

/* EMAIL */
.section__email{
    position: fixed;
    z-index: 90;
    bottom: 150px;
    left: auto;
    right:auto;
    rotate: 90deg;
    margin-left: -45px;
    text-decoration: none;
    color: #2b2828;
    transition: .5s;
}

/* TRANSITION */
.section__email:hover{
    color: royalblue;
    rotate: 90deg;
    transform: translateX(-15px);
}

.section__email::after{
    position: absolute;
    display: block;
    content: "";
    background-color: gray;
    width: 3px;
    rotate: 90deg;
    height: 100px;
    margin: auto;
    margin-left: 220px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



/* SECTION */
.section__content__portfolio{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    padding: 100px 50px 0;
}

/* INTRO */
.section__master__content__intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0px 20px 40px;
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: -15px 15px 5px gray;
    background-color: rgb(235, 235, 235);
}


.section__greeting{
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: royalblue;
}

/* NAME */
.section__myname{
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 450;
}

/* SECTOR */
.section__dedication{
    font-size: 1.4rem;
    margin-bottom: 50px;
    color: gray;
}

/* BUTTON */
.section__more__about__me{
    display: block;
    padding: 16px;
    max-width: 215px;
    text-align: center;
    background-color: royalblue;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: -5px 5px 5px gray;
}

.section__more__about__me:hover{
    background-color: rgb(20, 61, 185);
}

/* IMG */
.section__greeting__img{
    max-width: 350px;
    display: block;
    margin: 0 auto;
}



/* ABOUT */

.section__about{
    margin-top: 350px;
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: -15px 15px 5px gray;
    padding: 40px 45px 55px;
    background-color: rgb(235, 235, 235);
}

/* TITLE */

.section__title__about{
    display: flex;
    align-items: center;
    font-size: 2.35rem;
    font-weight: 400;
}


.section__title__about::after{
    display:inline-block;
    content: "";
    height: 3px;
    width: 75%;
    background-color: gray;
    margin-left: 30px;
    border-radius: 10px;
}

/* CONTAINER(MASTER ITEMS) */
.section__master__container__items__about{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/* INTRODUCTION */
.section__about__paragraf{
    max-width: 400px;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    color: rgb(47, 91, 224);
}


/* FOTO */
.section__profile__foto{
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: -5px 10px 5px gray;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
}

.section__profile__foto:hover{
    box-shadow: 0 0 ;
}





/* SKILLS */


.section__skills{
    margin-top: 350px;
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: -10px 10px 5px gray;
    padding: 40px 45px 55px;
    background-color: rgb(235, 235, 235);
}


/* TITLE */

.section__skills__title{
    display: flex;
    align-items: center;
    font-size: 2.35rem;
    font-weight: 400;
}


.section__skills__title::after{
    display:inline-block;
    content: "";
    height: 3px;
    width: 75%;
    background-color: gray;
    margin-left: 30px;
    border-radius: 10px;
}


/* SUB CONTAINER IMG SKILL */

.section__sub__container__skill{
    display: flex;
    justify-content: space-between;
    gap:100px 0;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
    color: black;
    font-size: 1.2rem;
    padding: 0px 50px;
    text-align: center;
}

.section__container__logos__skills{
    padding: 0 20px;
}

.section__container__logo__job > img{
    display: block;
    margin-bottom: 10px;
}

.section__container__skill__languajes{
    margin-top: 40px;
}

.section__container__skill__languajes > img{
    display: block;
    margin-top: 20px;
}




/* PROJECTS */

.section__projects{
    margin-top: 350px;
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: -10px 10px 5px gray;
    padding: 40px 45px 55px;
    background-color: rgb(235, 235, 235);
}

/* TITLE */
.section__title__projects{
    display: flex;
    align-items: center;
    font-size: 2.35rem;
    font-weight: 400;
}

.section__title__projects::after{
    display:inline-block;
    content: "";
    height: 3px;
    width: 75%;
    background-color: gray;
    margin-left: 30px;
    border-radius: 10px;
}


/* SECTION CONTAINER PROJECTS */


.section__container__projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px 0;
    margin-top: 70px;
    text-align: center;
}


.section__content__img__folder> i{
    font-size: 100px;
    margin-bottom: 20px;
    color: rgb(101, 136, 240);

}


.section__content__img__folder> i:hover{
    color: rgb(50, 94, 224);
}


.section__projects__title__category{
    text-decoration: none;
    color: rgb(68, 68, 68);
}


.footer{
    padding: 30px 0;
    text-align: center;
    margin-top: 200px;
    border-radius: 20px 20px 0 0;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    background-color: rgb(235, 235, 235);
}

.footer__container__social__media{
    display: none;
    justify-content: space-evenly;
    margin-bottom: 30px;
}


.footer__credits{
    color: royalblue;
}




/* RESPONSIVE */



@media (max-width:984px) {
    .header__label{
        display: block;
        cursor: pointer;
    }

    .header__content__links{
        position: fixed;
        top: 70px;
        bottom: 0;
        width: 100%;
        height: 95%;
        background-color: rgb(48, 85, 196);
        display: flex;
        flex-direction: column;
        text-align: center;
        left: 0;
        clip-path: circle(0 at center);
        transition: all .3s;
    }

    .header__content__links > a {
        border-radius: 5px;
        border: 3px solid white;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
    }

    .header__input:checked + .header__content__links{
        clip-path: circle(100% at 50% 50%);
        transition: all .4s;
    }


    .section__main__content__social{
        display: none;
    }

    .section__main__content__email{
        display: none;
    }


    .footer__container__social__media{
        display: flex;
    }
}




@media (max-width:860px) {

    /* INTRO */
    .section__master__content__intro{
        padding: 60px 30px;
    }

    .section__content__text__intro{
        margin: 0 auto;
        text-align: center;
    }

    /* GREETING */
    .section__greeting{
        font-size: 1.8rem;
    }

    /* NAME */
    .section__myname{
        font-size: 3.4rem;
    }

    /* SECTOR */
    .section__dedication{
        font-size: 1.5rem;
    }

    /* BUTTON */
    .section__more__about__me{
        padding: 18px;
        width: 100%;
        max-width: none;
        font-size: 1.2rem;
        box-shadow: 0px 5px 5px gray;
    }


    /* IMG */
    .section__greeting__img{
        max-width: 450px;
        margin-top: 30px;
    }



    /* ABOUT */


       /* INTRO ABOUT */
       .section__content__text__about{
        margin: 0 auto;
        margin-top: 60px;
    }

    /* FOTO */
    .section__profile__foto{
        box-shadow: none;
        margin-top: 80px;
    }

}


@media (max-width:600px){
        /* SECTION */
    .section__content__portfolio{
        padding: 100px 20px 0;
    }



    
    /* INTRO */


    /* GREETING */
    .section__greeting{
        font-size: 1.4rem;
    }

    /* NAME */
    .section__myname{
        font-size: 2.6rem;
    }

    /* SECTOR */
    .section__dedication{
        font-size: 1.3rem;
    }

     /* BUTTON */
     .section__more__about__me{
        font-size: 1rem;
    }


    /* IMG */
    .section__greeting__img{
        max-width: none;
        width: 100%;
        object-fit: contain;
    }

}



@media (max-width:455px) {

    /* SECTION */
    .section__content__portfolio{
        padding: 100px 10px 0;
    }

    /* INTRO */

    /* GREETING */
    .section__greeting{
        font-size: 1.3rem;
    }

    /* NAME */
    .section__myname{
        font-size: 2.3rem;
    }

    /* SECTOR */
    .section__dedication{
        font-size: 1.1rem;
    }



    /* ABOUT */

       /* INTRO ABOUT */
       .section__content__text__about{
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
    }


        /* INTRODUCTION */
    .section__about__paragraf{
        max-width: none;
        width: 100%;
        letter-spacing: 0.5px;
        font-size: 1.2rem;
    }




    /* SKILLS */
    .section__sub__container__skill{
        justify-content: center;
    }



    /* PROJECTS */
    .section__container__projects{
        justify-content: center;
        gap: 100px 50px;
    }
    

}